@use "../../styles/variables" as v;
@use "../../styles/mixins" as m;

.event-card{
    height: 100%;

    img{
        width:100%;
    }

    .card-title{
        margin-top:10px;
        color: v.$color2;
        font-size:1.2rem;
    }

    .card-subtitle{
        @include m.flex();
        padding-top: 10px;
        padding-bottom: 10px;

        svg{
            color: v.$color1;
        }
    }
}