/* COMMON */
$color1: rgb(243, 113, 47);
$color2: rgb(47, 47, 46);
$color3: rgb(230, 230, 230);
$color1-op-50: rgba($color1, 0.5);
$color2-op-50: rgba($color2, 0.5);


/* BOOTSTRAP */
$font-family-sans-serif: var(--font-montserrat);
$primary: $color1;
$secondary: $color2;
$navbar-light-color: $color2;
$navbar-light-hover-color: $color1;
$navbar-light-active-color: $color1;
$navbar-nav-link-padding-x: "1rem";
$nav-link-font-weight: 500;