@use "../../../styles/variables" as v;
@use "../../../styles/mixins" as m;

.topbar{
    background-color: v.$color2;
    color: v.$color3;

    .container{
        @include m.flex($ai:center);
        padding-top: 10px;
        padding-bottom: 10px;
    }
}