@use "../../styles/mixins" as m;

.main-slider {
	.carousel-item {
		height: calc(100vh - 160px);
	}

	.carousel-caption {
		bottom: 50%;
		@include m.transform(translateY(50%));
		h3 {
			font-size: 2.5rem;
		}
		p {
			font-size: 1.2rem;

			@media (min-width: 850px) {
				display: none;
			}

			@media (min-width: 1200px) {
				display: block;
			}
		}

		@media (min-width: 850px) {
			text-align: left;
			width: 30%;
		}

        @media (min-width: 1200px) {
            width: 50%;
        }
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: left top;

		@media (min-width: 850px) {
			object-position: right top;
		}
	}
}
